{% include "../components/head.html" %}
<body>
<header>
    {% include "components/header_menu.html" %}
</header>
<section class="content">
<div class="login-wrapper">
<form class="login-form" action="post">
    <input class="input" type="text" maxlength="50" placeholder="login" required>
    <input class="input" type="password" maxlength="50" placeholder="password" required>
    <input class="button" type="submit">
    <p class="login-register">
        <a href="/registration">don't have an account?</a>
    </p>
</form>
</div>
</section>
{% include "components/footer.html" %}
</body>
</html>