{% include "../components/head.html" %}
<body>
<header>
    {% include "components/header_menu.html" %}
</header>
<section class="content">
<div class="login-wrapper">
<form class="login-form" action="post">
    {% csrf_token %}
    {{ form.username }}
    <label class="login-form_label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
    {{ form.password }}
    <label class="login-form_label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
    <input class="button" type="submit">
    <p class="login-register">
        <a href="/registration">don't have an account?</a>
    </p>
</form>
</div>
</section>
{% include "components/footer.html" %}
</body>
</html>