{% include "../components/head.html" %}
<body>
<header>
    {% include "components/header_menu.html" %}
</header>
<section class="content">
{% if courses %}

<div class="courses">
    <ul>
        {% for course in courses %}
        <li class="course">
            <a class="course-link" href="{{ course.course_url }}">{{ course.course_display_name_ru }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}
    <p>Ooops... No courses found.</p>
{% endif %}
</section>
{% include "components/footer.html" %}
</body>
</html>
