<div class="menu-header">
    <ul class="top-menu">
        <li class="top-menu-item"><a class="top-menu-item_link" href="/">Main</a></li>
        <li class="top-menu-item"><a class="top-menu-item_link" href="/registration">Register</a></li>
        <li class="top-menu-item"><a class="top-menu-item_link" href="/courses">Courses</a></li>
        <li class="top-menu-item"><a class="top-menu-item_link" href="/help">Help</a></li>
        <li class="top-menu-item"><a class="top-menu-item_link login" href="/login">Login</a></li>
    </ul>
</div>