/* DROP DEFAULT STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Roboto, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    top: 0;
    position: fixed;
    height: 60px;
    background-color: blue;
}

/* NAVIGATION */
.menu-header {
    line-height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.top-menu-item {
    display: inline-block;
    margin-left: 10px;
}

.top-menu-item_link {
    text-decoration: none;
    color: lightblue;
    float: right;
}

.logout {
    color: red;
}

.logout-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}

/* CONTENT */
section.content {
    margin-top: 100px;
}


/* FOOTER */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: blue;
    line-height: 40px;
}

.footer-msg {
    text-align: center;
    color: white;
}


/* COMPONENTS */
.input {
    width: 100%;
    height: 35px;
    outline: none;
    text-align: center;
}

.button {
    width: 100%;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}